@page "/"
@using Editor.Components.Componentes
@using Editor.Models
@using Editor.Models.Enums
@inject IJSRuntime JS

<PageTitle>Editor de mapas Dragones</PageTitle>

<style>
    :root {
        --tile-size: @(TileSize)px;
        --map-cols: @MapWidth;
    }
</style>

<h1>Editor de Mapas Dragones</h1>

<div class="d-flex flex-row">
    <div class="d-flex flex-column gap-1">        
        <InputSelect @class="form-select" TValue="Mapa" @bind-Value="selectedMapa" class="form-select" @onchange="onChangeTypeTile">
            @foreach (var mapa in Mapas)
            {
                <option value="@mapa">@mapa.Nombre</option>
            }
        </InputSelect>
        <button class="btn btn-primary" @onclick="onCargarMapa">Cargar Mapa</button>
        <button class="btn btn-primary" @onclick="nuevoMapa">Nuevo Mapa</button>
        <button class="btn btn-primary" @onclick="SaveMapa">Guardar Mapa</button>
    </div>
    <div class="m-5">
        <div class="map-grid" style="display: grid; grid-template-columns: repeat(var(--map-cols), var(--tile-size)); width: fit-content; height: fit-content;">
            @for (int y = 0; y < 50; y++)
            {
                for (int x = 0; x < 50; x++)
                {
                    var tile = selectedMapa?.Tiles[x, y];
                    var tipo = tile != null ? tile.Type : TileTypeEnum.Empty;
                    <TileComponent X="x" Y="y" Size="TileSize" Type="tipo" Tile="tile"></TileComponent>
                }
            }
        </div>
    </div>
    <div class="m-5 d-flex flex-column">
        <label>Tamaño de Tile: @TileSize px</label>
        @foreach(var tile in Tiles)
        {            
            <div class="p-1 m-1 border border-1 d-flex flex-row align-items-center gap-1">
                <InputCheckbox class="me-1" Value="tile.Value.IsChecked"
                               ValueChanged="@((bool v) => HandleCheckboxChange(v, tile.Key))"
                               ValueExpression="@(() => tile.Value.IsChecked)"></InputCheckbox>
                <label class="me-1">@tile.Value.Type.ToString()</label>                
                <TileComponent X="0" Y="0" Size="TileSize" Type="tile.Value.Type"></TileComponent>
            </div>
        }
        <div class="p-1 d-flex flex-row m-1 border border-info gap-1">
            @if(Tiles.Any()){
                <InputSelect @class="form-select" TValue="TileTypeEnum" @bind-Value="tipoo" class="form-select" @onchange="onChangeTypeTile">
                    @foreach (var type in Enum.GetValues<TileTypeEnum>())
                    {
                        <option value="@type">@type.ToString()</option>
                    }
                </InputSelect>
                <button class="btn btn-primary" @onclick="() => onActualizarTile(tipoo)">Actualizar</button>
            }            
            <button @onclick="onAgregarTile">Agregar</button>
        </div>
    </div>
</div>
<div>
    <label>Sum +</label>
    <label>Sum -</label>
</div>

<script>
    window.setupTileNavigation = (rows, cols, dotNetHelper) => {
        document.addEventListener('keydown', (e) => {
            if(e.key == "+") {
                var tiles = document.getElementsByTagName("TileComponent");
                 dotNetHelper.invokeMethodAsync('ExecuteZoom', 1);
                e.preventDefault();
                return;
            }

            if(e.key == "-") {
                var tiles = document.getElementsByTagName("TileComponent");
                 dotNetHelper.invokeMethodAsync('ExecuteZoom', -1);
                e.preventDefault();
                return;
            }

            const active = document.activeElement;
            if (!active || !active.id.startsWith('tile-')) return;

            // Extraer X e Y del ID actual "tile-x-y"
            const parts = active.id.split('-');
            let x = parseInt(parts[1]);
            let y = parseInt(parts[2]);

            switch (e.key) {
                case "ArrowUp":    y = Math.max(0, y - 1); break;
                case "ArrowDown":  y = Math.min(rows - 1, y + 1); break;
                case "ArrowLeft":  x = Math.max(0, x - 1); break;
                case "ArrowRight": x = Math.min(cols - 1, x + 1); break;
                case " ":
                    dotNetHelper.invokeMethodAsync('ActualizaTile', x,y);
                    e.preventDefault();
                    return;
                default: 
                    console.log(e.key);
                    return; // No es una tecla de dirección
            }

            e.preventDefault(); // Evita que la página haga scroll
            const nextTile = document.getElementById(`tile-${x}-${y}`);
            if (nextTile) {
                nextTile.focus();
                nextTile.style.zIndex = 10;
                active.style.zIndex = 1;
            }
        });
    };
</script>